.controlsContainer {
  padding: 0px;
  text-align: right;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  justify-content: end;
  align-items: center;
}

.padding {
  padding: 0 30px 20px 0;
}