@import "../../../../styles/const.scss";

.button {
  border-radius: 10px;

  border: 0;
  color: white;
  background: $color-green;
  cursor: pointer;
  width: min-content;
  white-space: nowrap;
}

.small {
  padding: 8px 15px;
  font-size: 14px;
}

.normal {
  padding: 10px 15px;
  font-size: 16px;
}

.big {
  padding: 10px 15px;
  font-size: 16px;
}