@import "../../../../styles/const.scss";

.button {
  border-radius: 10px;
  border: 0;
  color: white;
  cursor: pointer;
  width: min-content;
  white-space: nowrap;
  transition: 0.3s;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.7;
  }
}

.small {
  padding: 8px 15px;
  font-size: 14px;
}

.normal {
  padding: 10px 15px;
  font-size: 16px;
}

.big {
  padding: 10px 15px;
  font-size: 16px;
}

.green {
  background: $color-green;
}

.yellow {
  background: $color-yellow;
}

.red {
  background: $color-red;
}