@import "../../../../styles/const.scss";

.line {
  display: grid;
  grid-template-columns: max-content min-content;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.lineTitle {
  color: $color-black;
  font-size: 16px;
}

.lineInput {
  border: 0;
  border-bottom: 1px solid $color-grey;
  width: 80px;
  font-size: 16px;
}


.lineFeeds {
  padding: 5px 20px;
}

.lineTitle {}

.feedsList {}

.feedsLine {
  display: grid;
  grid-template-columns: 1fr min-content;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid $color-grey;
  padding: 5px 10px;
  height: 30px;
}

.feedsText {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.feedsInput {
  border: 0;

  &:hover,
  &:focus {
    border: 0;
    outline: none;
  }
}