@import "../../../../styles/const.scss";

.container {
  padding: 40px 0px;

}

.error {
  font-size: 22px;
  padding: 120px;
  text-align: center;
}

.showAllBtn {
  width: 100%;
  padding: 15px;
  text-align: center;
  background: transparent;
  border: 0;
  font-size: 20px;
  transition: 0.3s;
  cursor: pointer;
  border-bottom: 1px solid $color-grey;

  &:hover {
    background: $color-grey;
  }
}