@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$color-black: #001E00;
$color-dark-grey: #5E6D55;
$color-grey: #D5E0D5;
$color-green: #14A800;
$color-red: #FF4B25;
$color-yellow: #FDCD81;

* {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-rows: auto;
  gap: 50px;
}

.full-container {
  margin-bottom: 75px;
}

header {
  display: block;
  // min-width: 100vw;
  border-bottom: 1px solid $color-grey;
  margin: auto;

  .header-title {
    display: block;
    min-width: 0;
    max-width: 1200px;
    width: calc(100% - 40px);
    margin: auto;
    color: $color-green;
    padding: 20px;
    font-family: 'Rowdies', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    text-transform: uppercase;
  }
}

.content {
  min-width: 0;
  max-width: 1200px;
  width: 100vw;
  margin: auto;
  display: grid;
  grid-template-columns: 200px calc(100% - 200px);
  padding-left: 20px;
  padding-right: 20px;
}

.menu-container {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    font-size: 16px;
    color: $color-dark-grey;
    padding: 7px;
    padding-left: 15px;
    border-left: 2px solid $color-grey;
    cursor: pointer;

    &.menu-active-element {
      color: $color-green;
      border-left: 2px solid $color-green;
    }
  }
}

.content-container {
  display: grid;
  border: 1px solid $color-grey;
  border-radius: 15px;
  padding: 20px 0;
  margin-bottom: 60px;
}